<!DOCTYPE html>
<html ng-app="store">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="app.config.js"></script>
    <script src="./service/nameService.js"></script>
    <script src="./controller/storeController.js"></script>
    

</head>
<body>
    <div ng-controller="StoreController" class="container">
        <h3>To Do List</h3> 
        <div class="row">
            <div class="col-sm-4 form-group">
                <input type="text" ng-model="name" placeholder="Enter Item" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                    <button ng-click="addToList()" class="btn btn-primary">Add</button>
            </div>
        </div>
        <hr>
        <div class="row" ng-repeat="items in list">
            <div class="col-sm-12">
                    <input type="checkbox" class="form-check-input">
                    <label for="name" class="checkbox-left">{{items.name}}</label>
                    <button ng-click="store.deleteItem($index)" class="btn btn-danger margin-left">Delete</button>
            </div>
            <div class="col-sm-12">
            </div>
            <hr>
        </div>
    </div>
</body>
</html>

<style>
.margin-left {
    margin-left: 200px;
}
.checkbox-left {
    margin-left: 10px;
}
</style>